<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Finance App</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <main>
      <header>
        <h1>Personal Finance App</h1>
        <h2>Hackital2017</h2>
      </header>
      <div class="container">
        <section>
          <h3>Your Watchlist</h3>
          {% for stock in watchlist %}
          <h4>{{ stock }}</h4>
          <img src="{{ url_for('static', filename='graphs/{}.png'.format(stock)) }}" alt="graph1">
          {% endfor %}
          <table>
            <tr>
              <th>Date</th>
              <th>Dividend</th>
            </tr>
          </table>
        </section>
      </div>
    </main>

  </body>
</html>
